In [2]:
%run "/home/jovyan/work/workspace/functions/create_spark_session.ipynb"

Spark Version: 3.5.0

In [3]:
%run "/home/jovyan/work/workspace/functions/paths.ipynb"

In [4]:
%run "/home/jovyan/work/workspace/functions/dates.ipynb"

In [14]:
df_sales = spark.read.format('delta').load(f'{silver}sales')

In [15]:
df_sales.createOrReplaceTempView('bronze_sales')

In [16]:
spark.sql('''
describe bronze_sales
''').toPandas().style.hide(axis='index')

In [10]:
comments = {
    "DATE": "Data original da transação de venda extraída do arquivo",
    "ce_brand_flvr": "Código identificador único da marca e sabor do produto",
    "BRAND_NM": "Nome descritivo da marca do produto",
    "Btlr_Org_LVL_C_Desc": "Descrição da região ou unidade organizacional do engarrafador",
    "CHNL_GROUP": "Grupo de canal de venda de alto nível",
    "TRADE_CHNL_DESC": "Descrição detalhada do canal de comercialização",
    "PKG_CAT": "Código da categoria de embalagem",
    "Pkg_Cat_Desc": "Descrição completa da categoria da embalagem",
    "TSR_PCKG_NM": "Nome comercial da embalagem/pacote",
    "volume": "Volume total comercializado (valor sanitizado)",
    "YEAR": "Ano de referência da venda",
    "MONTH": "Mês de referência da venda",
    "PERIOD": "Período/Trimestre fiscal da transação",
    "dtload": "Data de processamento e carga no Lakehouse (Chave de Partição)"
}

for column, comment in comments.items():
    spark.sql(f"ALTER TABLE delta.`{bronze}sales` ALTER COLUMN {column} COMMENT '{comment}'")

spark.sql(f"describe delta.`{bronze}sales`").toPandas().style.hide(axis='index')

In [30]:
df_channel = spark.read.format('delta').load(f'{gold}channel_group')

AnalysisException: [PATH_NOT_FOUND] Path does not exist: /home/jovyan/work/lake/gold/channel_group.

In [31]:
df_channel.createOrReplaceTempView('channel_group')

In [29]:
spark.sql('''

describe channel_group

''').toPandas().style.hide(axis='index')

In [9]:
comments_channel = {
    "TRADE_CHNL_DESC": "Descrição original do canal de comercialização (Trade)",
    "TRADE_GROUP_DESC": "Descrição original do grupo de canais",
    "TRADE_TYPE_DESC": "Tipo de classificação do trade original",
    "dtload": "Data de carga no Lakehouse (Chave de Partição)"
}

for column, comment in comments_channel.items():
    spark.sql(f"ALTER TABLE delta.`{bronze}channel_group` ALTER COLUMN {column} COMMENT '{comment}'")

spark.sql(f"describe delta.`{bronze}channel_group`").toPandas().style.hide(axis='index')

In [5]:
gold_sales = spark.read.format('delta').load(f'{gold}sales')

In [6]:
gold_sales.createOrReplaceTempView('sales')

In [16]:
spark.sql(f''' describe delta.`{gold}sales_location` ''').toPandas().style.hide(axis='index')