In [2]:
%run "/home/jovyan/work/workspace/functions/create_spark_session.ipynb"

In [3]:
%run "/home/jovyan/work/workspace/functions/paths.ipynb"

In [4]:
%run "/home/jovyan/work/workspace/functions/dates.ipynb"

In [5]:
df = spark.read.format('delta').load(f'{bronze}sales')

In [6]:
df = (df
 .withColumnRenamed('DATE', 'dtregister')
 .withColumnRenamed('ce_brand_flvr', 'cdbrand')
 .withColumnRenamed('BRAND_NM', 'dsbrand')
 .withColumnRenamed('Btlr_Org_LVL_C_Desc', 'dsregion')
 .withColumnRenamed('CHNL_GROUP','dsgroup')
 .withColumnRenamed('TRADE_CHNL_DESC','dschannel')
 .withColumnRenamed('PKG_CAT','dspack')
 .withColumnRenamed('Pkg_Cat_Desc', 'dscatpack')
 .withColumnRenamed('TSR_PCKG_NM','dsnmpack')
 .withColumnRenamed('volume','qtvolume')
 .withColumnRenamed('YEAR','dsyear')
 .withColumnRenamed('MONTH','dsmonth')
 .withColumnRenamed('PERIOD','dsquarter')
 )

In [7]:
df.limit(5).toPandas()

,dtregister,cdbrand,dsbrand,dsregion,dsgroup,dschannel,dspack,dscatpack,dsnmpack,qtvolume,dsyear,dsmonth,dsquarter,dtload
0,2006-01-01,3440,LEMON,CANADA,LEISURE,SPORT VENUE,N20O,20Z/600ML,.591L NRP 24L,22.48,2006,1,1,2026-02-15
1,2006-01-01,3440,LEMON,NORTHEAST,SUPERS,SUPERETTE,N20O,20Z/600ML,20Z NRP 24L,100.00,2006,1,1,2026-02-15
2,2006-01-01,3554,STRAWBERRY,SOUTHEAST,WORKPLACE,PLANT / OFFICE,N20O,20Z/600ML,20Z NRP 24L,66.14,2006,1,1,2026-02-15
3,2006-01-01,3441,RASPBERRY,MIDWEST,MASS MERCHANDISER,MASS MERCHANDISER,N20O,20Z/600ML,20Z NRP 24L,222.50,2006,1,1,2026-02-15
4,2006-01-01,3440,LEMON,WEST,MASS MERCHANDISER,MASS MERCHANDISER,N20O,20Z/600ML,20Z NRP 24L,302.50,2006,1,1,2026-02-15

In [9]:
df.na.drop().write.partitionBy("dtload").mode('overwrite').format('delta').save(f'{silver}sales')